

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    font-family: 'SF-medium', sans-serif;
    /* font-family: 'Noto Sans', sans-serif; */
} 
/*-----------------------------------------------------*/

main{
    /* border: 10px groove rgb(238, 255, 0); */
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .flex_row_1{
    /* border: 15px solid rgb(173, 10, 10); */
    display: flex;
    justify-content: space-between;
    background-color: #cccccc;
    width:100% ;
    height: 1130px;
    background: url('../img/background.png') no-repeat center top / cover;
    

}
.flex_row_2 {
  border: 5px solid brown;
  display: flex;
  height: 1065px;
  width: auto;
  justify-content: space-between;
}



.flex_item_1{
    border: 5px solid tomato;
}

.flex_item_2{
    display: flex;
    color: black;
    height: 100%;
    width: auto;
}
.mobile-container {
    margin: auto;
    border-radius: 3px;
    color: #000;
    background-color: black;
    text-align: center;
    width: 200px;
  }
  
  .topnav {
    overflow: hidden;

    position: relative height 50px;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav a:hover{
    color: #cf2d2d;
  }
  
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    margin-top: 7px;
  }

  .flex_item_4 {
    width: 476px; 
    height: 635px;
    margin-top: 70px;
}
.rec_1 {
  height: auto;
}

.text-on-img{
  width: 92.68px;
  height: 12.78px;
  margin: 27.13px 0 0 25.13px;
}

.item5__textbox-black{
  width: 405px;
  height: 259px;
  margin-left: 80px;
  flex-direction: column;
}

.textbox__black-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
}

.textbox__black-subtitle {
  padding: 45px 0 35px 0;
  font-size: 14px;
  font-weight: 400;
  font-family: 'SF-regular', sans-serif;
  line-height: 17px;
  line-clamp: 1px;
}

.textbox__black-button-1 {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.flex_item_6 {
  margin: 626px 3px 113px 0;
}

.item_7__textbox-white{
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  display: flex;
}

.flex-container_1{
  display: flex;
  height: 1089px;
  padding-top: 70px;
}

.image__vertical {
  flex-grow: 0;
  width: 476px;
}

.horizontal__section{
  flex-direction: column;
  width: 100%;
}
.text__horizontal {
  flex-grow: 1;
  height: 562px;
  
}
.image__horizontal {
  flex-grow: 2;
  height: 465px;
  padding-left: 726px;
}

.rec_2 {
  width: 679px;
  height: 350px;
}
.flex_row_3 { 
  border: 5px solid rgb(31, 29, 163);
  height: 750px;
  width: auto;
  text-align: right;
  background-color: #000;
}

.flex_container_2 {
  border: 5px solid #fff;  
  display: flex;
  height: 750px;
  width: 100%;
} 
.item_1 {
  flex: 0;
  border: 5px solid rgb(9, 151, 52);
  flex-basis: 50%;
  display: flex;
  justify-content: end;
}

.textbox__left{
  display: flex;
  flex: 0;
  flex-grow: 0;
  flex-basis: 40%;
  justify-content: end;
}

.textbox__white {
  display: relative;
  width: 405px;
  height:  501px;
  color: #fff;
  border: 1px solid gray;
  padding-top: 135px;
}
.textbox__white-number-1 {
  font-family: 'SF-bold', sans-serif;
  font-size: 16px;
  font-weight: 700;
  
}
.textbox__white-subtitle {
  padding-top: 220px;
  font-size: 16px;
}
.textbox__white-title {
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 36px;
}
.textbox__white-text {
  font-family: 'SF-regular', sans-serif;
  padding-bottom: 40px;
  padding-top: 15px;
  font-size: 14px;
}
.textbox__white-button {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.item_2 {
  flex-grow: 1;
  border: 5px solid rgb(200, 188, 15);
  flex-basis: 50%;
  width: 1440px;
  height: 750px;
}
.rec_3 {
  display: flex;
  text-align: end;
  margin-top: 31px;
  margin-right: 0px;
  margin-left: 80px;
  width: 1040px;
  height: 501px;
  object-fit: cover;
}

.flex_row_4 {
  width:100% ;
  height: 1200px;
  background: url('../img/background\ 2.png') no-repeat center top / cover;
}
.textbox__white-page-4{
  margin: 600px 939px 244px 90px;
  display: relative;
  width: 411px;
  height:  313px;
  color: #fff;
  border: 1px solid gray;
}
.textbox__white-number-2{
  font-family: 'SF-bold', sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.textbox__white-subtitle-page-4{
  padding-top: 16px;
  font-size: 16px;
}

.textbox__white-title-page-4 {
  padding-top: 32px;
  font-size: 36px;
  padding-bottom: 20px;
}

.textbox__ground{
  position: absolute;
  height: 20px;
  left: 1784px;
  border: 1px solid tomato;
  margin-top: 233px;
  color: #fff;
}

.flex__row-5 {
  border: 4px solid turquoise;
  width: 100%;
  height: 750px;
}

.textbox__left{
  display: flex;
  justify-content: flex-end;
  flex: 0;
  flex-grow: 0;
  flex-basis: 40%;

}

.textbox__black {
  width: 405px;
  height:  501px;
  color: rgb(0, 0, 0);
  border: 1px solid gray;
  padding-top: 85px;
  
}

.textbox__black-subtitle-page-5 {
  display: flex;
  font-size: 16px;
  color: #000;
  justify-content: flex-end;
}
.textbox__black-title-1 {
  padding-top: 306px;
  font-size: 36px;
  display: flex;
  justify-content: flex-end;
}
.textbox__black-text {
  font-family: 'SF-regular', sans-serif;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  text-align: end;
}
.textbox__black-button {
  font-size: 16px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: flex-end;
}

.flex__container-3{
  border: 5px solid #fff;  
  display: flex;
  height: 750px;
  width: 100%;
}

.textbox__black-number-3 {
  display: block;
  font-family: 'SF-bold', sans-serif;
  font-size: 16px;
  font-weight: 700;
  width: 82px;
  height: 19px;
  padding-left: 82px;
  padding-top: 85px;
}

.flex__row-6 {
  display: flex;
  border: 4px solid rebeccapurple;
  width: 100%;
  height: 1212px;
}
.flex__container-3 {

}

.textbox__left-page-6{
  display: flex;
  justify-content: flex-end;
  flex: 0;
  flex-grow: 0;
  flex-basis: 40%;
  height: 1212px;
}

.textbox__subtitle-section {
  border:5px solid red;
  width: 878px;
  display: flex;
  flex-direction: column;
  text-align: end;
  padding-right: 187px;
}

 .textbox__black-number-4{
  padding-top: 73px;
  padding-right: 205px;
  }

.textbox__black-subtitle-page-6 {
  padding-top: 41px;
  padding-right: 205px;
} 

.rec__5 {
  display: flex;
  justify-content: flex-start;
  width: 476px;
  height: 601px;
  margin: 68px 0px 40px 1px;
}

.text__title-page-6{
  margin-right: 205px;
  font-size: 36px;

}

.text__page-6 {
  margin-right: 205px;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
}
 
.textbox__black-button-1 {
  padding-right: 205px;
}

.flexbox__img {
    flex-grow: 1;
    border: 5px solid rgb(200, 188, 15);
    flex-basis: 50%;
    width: 100%;
    height: 1130px;
    margin: 73px 92px 101px 0px;
    object-fit: cover;
}

.header {
  width: 100%;
  height: 170px;
}